{% extends 'layout.html' %}
{% block body %}
<div class="starter-template">
    <h1 class="mb-5">Login</h1>
    <div class="card border-success m-auto mb-3 text-left" style="width: 500px;">
        <div class="card-body">
            <form method="POST" action="/login">
                {{ form.hidden_tag() }}
                <div class="form-group">
                    {{ form.username.label }}
                    {{ form.username(size=20, class_="form-control") }}
                </div>
                <div class="form-group">
                    {{ form.password.label }}
                    {{ form.password(class_="form-control") }}
                </div>
                {% for error in form.submit.errors %}
                    <div class="alert alert-danger" role="alert">
                        {{ error }}
                    </div>
                {% endfor %}
                {{ form.submit(class_="btn btn-success") }}
            </form>
        </div>
    </div>
    <small class="mt-3 form-text text-muted">No account? Click <a href="{{ url_for('register.index') }}">here</a> to register.</small>
    <!-- Add validation, flash messaging for errors -->
</div>
{% endblock body %}