{% extends 'layout.html' %}
{% block body %}
<div class="starter-template">

    <div class="row mt-6" style="margin-top:100px">
        <div class="col-8 align-self-center text-left">
            <h1>Learn to code the fun way.</h1>
            <p class="lead">
                Java Online is a fun online learning platform for the Java<br> programming language. Complete coding challenges and<br> level up against other players.
            </p>
        </div>
        <div class="col-4 align-self-center">
            <img src="static/images/computing.png" width="300">
        </div>
    </div>
    
   
    
</div> 
{% endblock body %}